// footer{
//     display: flex;
//     height:20%;
//     background-color:gainsboro;
// }

.fixed-footer{
    bottom: 0;
    background-color: cadetblue;
    height: 10px;
} 
#foot{
    margin-top: 40px;
}