body {
  padding-top: 60px;
  padding-bottom: 40px; }

.container {
  width: 80%;
  margin: 0 auto;
  /* Center the DIV horizontally */ }

.fixed-header, .fixed-footer {
  width: 100%;
  position: fixed;
  background: black;
  color: #fff; }

.main-Content {
  margin-left: 40%; }
